html {
    background-image: linear-gradient(to right, #0F3443, #34E89E)
}
.website-container {
    background-image: linear-gradient(to right, #0F3443, #34E89E)
    
}

.navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    padding: 1.5%;
}

.navbar-li:nth-child(2) {
    margin-left: auto;
}

.navbar-element {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
