@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}